@* @{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 style="color:green" class="display-4">Harvest Hub</h1>
<h2 style="color:Orange">Connecting You to Farm-Fresh Goodness</h2>
<img width=600px src="https://www.lalpathlabs.com/blog/wp-content/uploads/2019/01/Fruits-and-Vegetables.jpg" alt="1" />
</div> *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:green" class="display-4">Harvest Hub</h1>
    <h2 style="color:Orange">Connecting You to Farm-Fresh Goodness</h2>
    <img width="600px" src="https://www.lalpathlabs.com/blog/wp-content/uploads/2019/01/Fruits-and-Vegetables.jpg"
        alt="Fruits and Vegetables" />
    <br /><br />
    <a href="http://localhost:3000/account/create" class="btn btn-primary" role="button">Create Account</a>
</div>
